<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/dev.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <title>Dev Stats</title>
</head>
<body>
    <div class="player-status-ui">
        <div class="model-container">
            <canvas id="modelCanvas"></canvas>
        </div>
        <div class="stats-container">
            <h1>Developer Statistics</h1>
            <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
                <div class="gallery-cell">
                    <ul class="stats-list-progress">
                        <li>
                            <span>JavaScript</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="90%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Python</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="85%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Kotlin</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="70%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Powershell</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="60%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>GDscript</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="50%"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="gallery-cell">
                    <ul class="stats-list-progress">
                        <li>
                            <span>SeleniumBase</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="90%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Laravel</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="85%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>ThreeJS</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="70%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>ReactJS</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="60%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>SQLite + ROOM</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="50%"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="gallery-cell">
                    <h2>Soft Skills</h2>
                    <ul class="stats-list">
                        <li><strong>Communication</strong></li>
                        <li><strong>Teamwork</strong></li>
                        <li><strong>Problem-Solving</strong></li>
                        <li><strong>Adaptability</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script type="module" src="../src/js/dev.js"></script>
</body>
</html>
