<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/dev.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <title>Dev Stats</title>

</head>
<body class="scale-in-hor-center">
    <a href="about.html" class="close-button swirl-in-fwd" aria-label="Close"></a>
    <a href="inventory.html" class="bag-button swirl-in-fwd" aria-label="Inventory">
        <div class="bag-icon"></div>
    </a>
    <div class="player-status-ui">
        <div class="model-container">
            <canvas id="modelCanvas"></canvas>
        </div>
        <div class="stats-container">
            <h1 id="stats-heading">Hard Skills</h1>
            <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
                <div class="gallery-cell">
                    <ul class="stats-list-progress">
                        <li>
                            <span>JavaScript</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="80%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Python</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="80%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Kotlin</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="75%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Powershell</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="60%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>GDscript</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="90%"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="gallery-cell">
                    <ul class="stats-list-progress">
                        <li>
                            <span>SeleniumBase</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="70%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Laravel</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="75%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>ThreeJS</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="70%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>ReactJS</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="60%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>SQLite + ROOM</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="50%"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="gallery-cell">
                    <ul class="stats-list-progress">
                        <li>
                            <span>Communicator</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="100%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Collaborator</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="95%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Problem-Solver</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="90%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Detail-Oriented</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="95%"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>Learner</span>
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="progress" data-width="100%"></div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script type="module" src="../src/js/dev.js"></script>
    <script type="module" src="../src/js/devThree.js"></script>
</body>
</html>
